* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  min-height: 10vh;
}

.principal {
  min-height: 89vh;
}

footer {
  min-height: 10vh;
  background-color: rgba(174, 174, 175, 0.164);
}

/*/ Arranca index /*/

nav .active {
  text-decoration: underline !important;
  color: rgb(223, 53, 147) !important;
  transform: scale(1.1);
}

.banner-home {
  background-image: url(https://wallpapercrafter.com/desktop/241507-the-vaulted-hall-in-the-natural-history-museum-in-.jpg);
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.principal h2 {
  color: rgb(233, 40, 104);
}

.card_events {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.568);
  margin: 2%;
}

.pic_event_card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.pic_event_card h5 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  width: 100%;
  padding: 5px 0;
}

.btn {
  background-color: rgb(233, 40, 104) !important;
  border: none !important;
  width: 100%;
}

/*/ empieza upcoming events /*/

.upcoming_events,
.past_events,
.contact,
.stats {
  padding-top: 9rem;
}

/*/ empieza contact /*/

.contact h2 {
  width: 100%;
}

.formulario {
  width: 80%;
}

.formulario form {
  width: 100%;
}

.botons_form {
  width: 100%;
}
.message {
  height: 30rem;
}

/*/ stats /*/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .formulario {
    width: 50%;
  }
}
