* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.upcoming_events,
.past_events,
.stats,
.contact {
  min-height: 96.3vh;
  position: relative;
}


.arrow_down {
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 10px 50px;  
  border-radius: 555px;
  position: absolute;
  bottom: 0px;
  left: 48.7%;
}

.arrow_down_details {
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 10px 50px;  
  border-radius: 555px;
  position: absolute;
  top: 100px;
  left: 20px;
  transform: rotate(90deg);
}



html {
  scroll-behavior: smooth;
}

.gotop {
  z-index: 5;
  position: fixed;
  bottom: 20px;
  right: 35px;
  border: none !important;
  border-radius: 150px;
}

/* loader details */
.loading {
  width: 60px;
  height: 60px;
  position: relative;
}

.d1 , .d2 {
  border: 5px solid #6c757d;
  border-radius: 50px;
}

.loading .d1 {
  width: 55px;
  height: 55px;
  position: absolute;
  border-left-color: transparent;
  animation: load161 1s linear infinite;
}

.loading .d2 {
  width: 40px;
  height: 40px;
  border-top-color: transparent;
  border-right-color: transparent;
  margin: 7.5px;
  animation: load2812 1.5s linear infinite;
}

@keyframes load161 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2812 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/*/ fin del loader/*/



footer {
  min-height: 17vh;
  width: 100%;
  box-shadow: rgb(4, 4, 4) 0px 20px 25px;
}

footer p {
  font-weight: 400;
}

hr {
  width: 90vw;
}

.primario {
  color: rgb(233, 40, 104) !important;
}

.principal {
  min-height: 90vh;
  position: relative;
}

.principal h2 {
  font-size: 3rem !important;
  font-weight: 300 !important;
}

#typed {
  font-size: 4rem !important;
  font-weight: 600 !important;
}

.primario_cursor {
  font-size: 4rem !important; 
  font-weight: 100; 
  color: rgb(42, 42, 42) !important;
}

.carousel-item img {
  position: relative;
}

.carousel-caption {
  left: 0% !important;
  top: 43%;
  bottom: auto !important;
  background-color: rgba(0, 0, 0, 0.36);
  width: 100%;
}

.carousel-caption h2 {
  color: white;
}

.navbar-collapse {
  flex-grow: 0 !important;
}


nav {
  box-shadow: rgba(141, 146, 151, 0.082) 0px 8px 24px;
  min-height: 7vh;
}

header img {
  width: 150px;
}

/*/ Arranca index /*/

nav ul li a {
  color: rgb(26, 25, 25) !important;
}

nav .active {
  background-color: rgb(233, 40, 120);
  border-radius: 5px;
  padding: 5px 50px;
  color: white !important;
}

.carousel-item {
  height: 580px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

h2 {
  color: rgb(26, 25, 25);
  width: 100%;
  font-weight: bolder !important;
  letter-spacing: 0.055em;
  font-size: 1.875rem !important;
}

.checksbox {
  width: 100%;
}

.checksbox div {
  width: 40%;
}


.search {
  padding: 10px;
  border-radius: 10px;
  border: rgba(26, 25, 25, 0.473) 1px solid;
}

.button_submit img {
  width: 43px;
  border-radius: 10px !important;
}

.checksbox input {
  --bs-link-hover-color: rgb(233, 40, 120) !important;
  --bs-link-color: rgb(233, 40, 120) !important;
}

.card {
  height: 620px !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 0px !important;
  width: 290px !important;
  --bs-card-border-width: 0px !important;
  --bs-card-title-spacer-y: 0rem !important;
}

.card-description {
  font-weight: 300 !important;
  font-size: larger !important;
  letter-spacing: 0.005em;
}

.card_events {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 2%;
}

/* .description{
  height: 40%;
}
 */
.pic_event_card img {
  border-top-right-radius: 25px !important;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.texto-cards {
  color: rgb(52, 55, 56);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 25px;
}

.datos-cards {
  font-weight: bolder;
}

.datos-datos-cards {
  color: rgb(233, 40, 104);
  line-height: 1px;
  font-size: 1.5rem;
  font-weight: 300;
}

.pic_event_card {
  position: relative;
}

.pic_event_card h5 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  width: 100%;
  padding: 25px 0;
  bottom: 0;
}

.btn {
  background-color: rgb(233, 40, 104) !important;
  border: none !important;
  border-radius: 10px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.btn:active {
  transform: scale(0.99);
}

#container_cards {
  min-height: 690px;
}

.form-check-input:checked {

 background-color: #e92878 !important;
 border-radius: 50px !important;
 border: none !important;

}

.form-check-input {
  border-radius: 50px !important;
}

#container_cards h2 {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.img_error {
  width: 450px;
}

/*/ empieza upcoming events /*/

.intro_upcoming {
  background-image: url("../img/upcomingImg.png");
  background-repeat: no-repeat;
  background-position: 80%;
  height: 95vh;
}

.intro_upcoming div {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 1px !important;  
}

.intro_upcoming p {
  color: rgb(233, 40, 104) !important;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 1.3rem !important;
}

.intro_upcoming button img {
  width: 35px;
  transform: rotate(-135deg);
}

/*/ empieza past /*/

.intro_past {
  background-image: url("../img/162-1623995_tony-stark-iron-man-no-helmet-tony-stark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 520px;
  height: 95vh;
}

.intro_past div {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 1px !important;
}

.intro_past p {
  color: rgb(233, 40, 104) !important;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 1.3rem !important;
}

.intro_past button img {
  width: 35px;
  transform: rotate(-135deg);
}

/*/ empieza contact /*/

.text_contact form {
  border-radius: 10px;
}

.text_contact input {
  border-radius: 10px;
}

.pic_contact img {
  width: 85%;
  border-radius: 35px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.e_mail:active {
  border: none !important;
}

/*/ stats /*/

td {
  text-align: center;
  width: 33%;
  font-size: 0.6rem;
}

.tabla {
  width: 80%;
  box-shadow: 5px 5px 10px rgba(172, 169, 169, 0.575);
  border-radius: 35px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tabla th {
  border-bottom: 1px solid rgb(233, 40, 104);
}

/*/ details /*/

.bold {
  font-weight: 700;
}

.details h3 {
  width: 100%;
}

.details h4 {
  font-size: 1rem !important;
}

.foto_details {
width: 100%;
}

.card-img-details {
  width: 100%;
}

/*/ barra de scroll /*/

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(233, 40, 104);
  border-radius: 10px;
}

/*/ querys /*/

@media (min-width: 576px) {
  .search {
    width: 450px;
  }

  .card {
    width: 350px !important;
  }
}

@media (min-width: 768px) {
  .text_contact h5 {
    width: 60%;
  }

  td {
    font-size: 1rem;
  }

  .search {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .gotop {
    right: 15px;
  }

  .active {
    background-color: rgb(233, 40, 120);
    border-radius: 5px;
    padding: 0px;
    color: white !important;
  }  

  li a:hover {
    color: #e92878 !important;
  }

  nav .active {
    background-color: transparent;
    border-radius: 0px;    
    border-bottom: #e92878 1px solid;
    padding: 5px 50px;
    color: black !important;
    font-weight: bolder;
  }

  nav .active:hover {
    color: black !important;
  }

  .card {
    width: 350px !important;
  }

  .card:hover {
    transition: 200ms;
    transform: scale(1.01);
  }

  .tabla:hover {
    transform: scale(1.005);
    transition: ease-in-out 200ms;
  }

  .links a {
    opacity: 0.2;
  }

  .links a:hover {
    transform: scale(1.05);
    transition: 200ms;
    opacity: 0.85;
  }

  html {
    zoom: 80%;
    scroll-behavior: smooth !important;
  }

  .intro_upcoming {
    height: 120vh;
  }

  .intro_upcoming div {
    background-color: transparent;
  }


  .intro_past {
    height: 120vh;
    background-position: 80%;
    background-size: 900px;
  }

  .intro_past div {
    width: 100%;
  }

  .search {
    width: 850px;
  }


  .card {
    height: 530px !important;
  }

  .principal {
    min-height: 110vh;
  }

  .principal h2 {
    font-size: 5rem !important;
    font-weight: 300 !important;
    /* text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527); */
  }

  #typed {
    font-size: 12.5rem !important;
    font-weight: 600 !important;
  }

  .primario_cursor {
    font-size: 14rem !important;
    color: rgb(233, 40, 104)
  }

  .details {
    min-height: 95.5vh;
  }

  .card-img-details {
    width: 100%;    
    border-radius: 85px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  
}

@media (min-width: 1200px) {
  .gotop {
    right: 35px;
  }

  .carousel-item {
    height: 1000px;
  }

  .details h3 {
    width: 100%;    
    font-size: 2rem !important;
    font-weight: 300;
  }
  
  .details h4 {
    font-size: 1.4rem !important;
    font-weight: 300;
  }

  .card_body_details{
    width: 40%;
  }
  
  .foto_details {
    width: 850px;   
  }  
 
}

@media (min-width: 1400px) {
  .formulario {
    width: 50%;
  }

  .intro_past {
    height: 120vh;
    background-position: 80%;
    background-size: 950px;
  }

  .intro_past div {
    background-color: transparent;
    width: auto;
  }

  .foto_details {
    width: 1050px;   
  }    


}